In [1]:
# IT IS JUST INITAL BASIC CODE FOR RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

# Load sample data (Iris dataset for classification)
data = load_iris()
X, y = data.data, data.target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Random Forest classifier instance
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train (fit) the model
model.fit(X_train, y_train)

# Make predictions on test data
y_pred = model.predict(X_test)

print("Predicted labels:", y_pred)

Predicted labels: [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0]

In [2]:
import pandas as pd

store_sales = pd.read_csv('train.csv')
store_sales.head(20)

          date  store  item  sales
0   2013-01-01      1     1     13
1   2013-01-02      1     1     11
2   2013-01-03      1     1     14
3   2013-01-04      1     1     13
4   2013-01-05      1     1     10
5   2013-01-06      1     1     12
6   2013-01-07      1     1     10
7   2013-01-08      1     1      9
8   2013-01-09      1     1     12
9   2013-01-10      1     1      9
10  2013-01-11      1     1      9
11  2013-01-12      1     1      7
12  2013-01-13      1     1     10
13  2013-01-14      1     1     12
14  2013-01-15      1     1      5
15  2013-01-16      1     1      7
16  2013-01-17      1     1     16
17  2013-01-18      1     1      7
18  2013-01-19      1     1     18
19  2013-01-20      1     1     15

In [3]:
# PRE PRECESSING OF THE GIVEN DATA IN ORDER TO PROVIDE IT TO MODEL FOR TRAINING
import pandas as pd

# Load data from CSV file
# file_path = 'your_dataset.csv'  # Replace with your CSV file path
data = pd.read_csv('train.csv')

# Convert 'date' column to datetime format
data['date'] = pd.to_datetime(data['date'])

# Extract numeric features from the 'date' column
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data['day_of_week'] = data['date'].dt.dayofweek  # Monday=0, Sunday=6
data['is_weekend'] = data['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)

# Drop the original 'date' column
data = data.drop(columns=['date'])

# Encode categorical columns if they are not numeric (e.g., store and item)
data['store'] = data['store'].astype('category').cat.codes
data['item'] = data['item'].astype('category').cat.codes

# Define features (X) and target (y)
X = data.drop(columns=['sales'])  # Features
y = data['sales']                 # Target variable

# Save the processed data to a new CSV file (optional)
processed_file_path = 'processed_dataset.csv'
data.to_csv(processed_file_path, index=False)

print("Data preprocessing complete. Processed data saved to", processed_file_path)

Data preprocessing complete. Processed data saved to processed_dataset.csv

In [4]:
# DISPLAYING PROCESSED DATA
import pandas as pd

store_sales = pd.read_csv('processed_dataset.csv') #in processed_dataset.csv I have processed data
store_sales.head(20)

    store  item  sales  year  month  day  day_of_week  is_weekend
0       0     0     13  2013      1    1            1           0
1       0     0     11  2013      1    2            2           0
2       0     0     14  2013      1    3            3           0
3       0     0     13  2013      1    4            4           0
4       0     0     10  2013      1    5            5           1
5       0     0     12  2013      1    6            6           1
6       0     0     10  2013      1    7            0           0
7       0     0      9  2013      1    8            1           0
8       0     0     12  2013      1    9            2           0
9       0     0      9  2013      1   10            3           0
10      0     0      9  2013      1   11            4           0
11      0     0      7  2013      1   12            5           1
12      0     0     10  2013      1   13            6           1
13      0     0     12  2013      1   14            0           0
14      0     0      5  2013      1   15            1           0
15      0     0      7  2013      1   16            2           0
16      0     0     16  2013      1   17            3           0
17      0     0      7  2013      1   18            4           0
18      0     0     18  2013      1   19            5           1
19      0     0     15  2013      1   20            6           1